<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'faq-style.css' | asset_url }}" media="print" onload="this.media='all'">


<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>




<div class="page-width page-width--narrow">
  
  
  
  <div class="rte">
    {{ page.content }}
  </div>
    
  
   <style> 
     h2{ 
       margin-bottom:40px; 
       margin-top:70px; 
       
     }
   </style>
  
  
  <style> 
     h1{ 
       margin-bottom:40px; 
       margin-top:70px; 
       
     }
   </style>
  
  	
  
     			 <h1>Frequently Asked Questions</h1>


   			 <h2><span style="color: #005CFF ; font-weight: bold; font-size:30px;">General</span></h2>
  
  
 <div class="faq">
        <div class="tab">
            <input type="checkbox" id="tab1" class="tab-toggle">
            <label for="tab1" class="tab-label">What does RAIZE mean?</label>
            <div class="tab-content">RAIZE draws inspiration from the words “raze” and “raise” – we are “razing” the idea of traditional desserts while “raising” the bar for what dessert can be!
          </div>
        </div>
        <div class="tab">
            <input type="checkbox" id="tab2" class="tab-toggle">
            <label for="tab2" class="tab-label">Where can I buy RAIZE cookies?</label>
            <div class="tab-content">At this time, our cookies are only available through our website. If you're interested in selling our cookies, let's talk! Please email hello@eatraize.com.</div>
        </div>
   
   
   		  <div class="tab">
            <input type="checkbox" id="tab3" class="tab-toggle">
            <label for="tab3" class="tab-label">How can I contact Customer Support?</label>
            <div class="tab-content">We will be happy to help you! Send us an email at hello@eatraize.com.</div>
        </div>
   
   
  

             
   			 <h2><span style="color: #005CFF ; font-weight: bold; font-size:30px;">Products</span></h2>
   
   		  <div class="tab">
            <input type="checkbox" id="tab4" class="tab-toggle">
            <label for="tab4" class="tab-label">Is everything you bake no-sugar added, low-carb, gluten-free, and keto-friendly?</label>
            <div class="tab-content">Yes! All products contain no added sugars, are glutten-free, and have 1g net carbs per cookie. We only give you what we would want to eat ourselves.</div>
        </div>
   
   
   		  <div class="tab">
            <input type="checkbox" id="tab5" class="tab-toggle">
            <label for="tab5" class="tab-label">How do you calculate net carbs?</label>
            <div class="tab-content">Net carbs = total carbs - fiber - sugar alcohol (erythritol)</div>
        </div>
   
   
   		  <div class="tab">
            <input type="checkbox" id="tab6" class="tab-toggle">
            <label for="tab6" class="tab-label">Do you use artificial sweeteners</label>
            <div class="tab-content">We do not use any artificial sweeteners. For more information on how we sweeten our cookies, please visit our nutrtional page.</div>
        </div>
   
   
   
   		  <div class="tab">
            <input type="checkbox" id="tab7" class="tab-toggle">
            <label for="tab7" class="tab-label">What is Erythritol?</label>
            <div class="tab-content">Erythritol is found naturally in some fruits, mushrooms, and fermented foods, or created from the fermentation of non-GMO corn. Erythritol acts similarly to fiber in the digestive process, so it has zero glycemic impact and gets deducted from the total carbs when calculating net carbs.</div>
        </div>
   
   
   
   		  <div class="tab">
            <input type="checkbox" id="tab8" class="tab-toggle">
            <label for="tab8" class="tab-label">Where can I find a full list of ingredients?”?</label>
            <div class="tab-content">Each flavor has different nutritional facts, which can be found in their product description through the Shop page.</div>
        </div>
   
   
   
   		  <div class="tab">
            <input type="checkbox" id="tab9" class="tab-toggle">
            <label for="tab9" class="tab-label">Do you have any vegan products?”</label>
            <div class="tab-content">We do not have any vegan products at this time. If you would like to see a line of vegan desserts, send us a note at hello@eatraize.com.</div>
        </div>
   
   
   		
   		  <div class="tab">
            <input type="checkbox" id="tab10" class="tab-toggle">
            <label for="tab10" class="tab-label">Do you offer any nut-free options?”</label>
            <div class="tab-content">Since all of our cookies have a base of almond flour, we don't recommend that people with nut allergies consume them. Our products do not contain peanut- or other legume-based ingredients, but we produce our cookies in a facility that may process peanuts or other legumes.</div>
        </div>
   
   
   
   			 <h2><span style="color: #005CFF ; font-weight: bold; font-size:30px;">Shipping and Storage</span></h2>
   
   		  <div class="tab">
            <input type="checkbox" id="tab11" class="tab-toggle">
            <label for="tab11" class="tab-label">Where do you ship?</label>
            <div class="tab-content">We ship to all 48 continental US states. Addresses must be residential locations not including commercial businesses, P.O. Boxes, and gated entryways.</div>
        </div>
   
   		<div class="tab">
            <input type="checkbox" id="tab12" class="tab-toggle">
            <label for="tab12" class="tab-label">Who is your carrier?</label>
            <div class="tab-content">UPS 2-day Ground.</div>
        </div>
   
   		<div class="tab">
            <input type="checkbox" id="tab13" class="tab-toggle">
            <label for="tab13" class="tab-label">When will my order ship?</label>
            <div class="tab-content">Yes! All products contain no added sugars, are glutten-free, and have 1g net carbs per cookie. We only give you what we would want to eat ourselves.</div>
        </div>
   
   		<div class="tab">
            <input type="checkbox" id="tab14" class="tab-toggle">
            <label for="tab14" class="tab-label">When will my order arrive</label>
            <div class="tab-content">After receiving your order, we bake and send your cookies within 48 hours. Shipping is through UPS 2-day Ground. In total, expect to receive your cookies within 4 days of placing your order. If your order seems to be delayed, please reach out to hello@eatraize.com.</div>
        </div>
   
   
   		<div class="tab">
            <input type="checkbox" id="tab15" class="tab-toggle">
            <label for="tab15" class="tab-label">How much is shipping</label>
            <div class="tab-content">UPS 2-Day Ground services shipping for approximately $[xxx] per delivery, depending on your location and order size. For orders of $50 or more, RAIZE waives the shipping cost.</div>
        </div>
   
   		<div class="tab">
            <input type="checkbox" id="tab16" class="tab-toggle">
            <label for="tab16" class="tab-label">How long will my cookies last after I receive them?</label>
            <div class="tab-content">Since RAIZE cookies are preservative-free, we recommend consuming them within two weeks of delivery. Refrigerating or freezing will extend the shelf life.</div>
        </div>
   
   
   		<div class="tab">
            <input type="checkbox" id="tab17" class="tab-toggle">
            <label for="tab17" class="tab-label">How should I store my RAIZE cookies?</label>
            <div class="tab-content">RAIZE cookies can be stored at room temperatures for up to two weeks. Beyond that, we recommend refrigerating or freezing your cookies to help them stay fresh longer as we do not use any preservatives.</div>
        </div>
   
   
    </div>
    </div>




